@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  @apply bg-neutral-950 text-neutral-100;
  overscroll-behavior-y: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}
